@media (min-width: 480px) {
    .navbar {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .wrapper {
        width: 50%;
    }

    .top-nav {
        flex-wrap: nowrap;
    }
}
