<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <section>
            <h1>
                <img src="/img/" alt="">
            </h1>
            <p>lugar para la barra de busqueda</p>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
        <nav>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="" alt="">
    </section>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="" alt="" width="100%">
                <div>
                    <p>precio</p>
                    <p>descuento</p>
                    <h3>nombre</h3>
                </div>
            </article>
        </section>
        <section>
            <h2>Seccion de ofertas</h2>
            <article>
                <img src="" alt="">
                <div>
                    <p>precio <span>pepito</span></p>
                    <p>descuento</p>
                    <h3>nombre</h3>
                </div>
            </article>
        </section>
    </main>

    <footer>
    </footer>

</body>

</html>