.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}

.p {
    padding: 16px;
}

.pt {
    padding-top: 16px;
}

.pv {
    padding-top: 16px;
    padding-bottom: 16px;
}

.b {
    border-width: 1px;
    border-style: solid;
}

.text-center {
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.top-nav .search-bar {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.top-nav .search-bar input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex-grow: 1;
    background-color: white;
    border: none;
    max-width: 400px;
}

.top-nav .search-bar button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    border: none;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
}

.navbar ul li {
    list-style: none;
}

.navbar {
    display: none;
}

.burger-menu {
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    width: 45px;
    height: 45px;
    font-size: 28px;
    border-radius: 5px;
}

.box-example {
    height: 200px;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    width: 100%;
    padding: 10px;
}

.product {
    background-color: white;
}

.product .product-content {
    padding: 15px;
    border-top: 1px solid #ebebeb;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.product .product-content .price {
    min-width: 30%;
}
.product .product-content .discount {
    max-width: 70%;
}

.product .truck-icon {
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
}
