<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>

    <link rel="stylesheet" href="/css/theme.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
</head>

<body>
    <form action="/register-receive-data">
        <label for="nombre" style="display: none;">Nombre:</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre">
        <button>Enviar!</button>
    </form>
</body>

</html>