.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}

.text-center {
    text-align: center;
}

.navbar {
}

nav.navbar ul li a {
    color: black;
    text-decoration: none;
}

nav.navbar ul li {
    list-style: none;
}

.burger-menu {
    text-align: center;
}
