<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/home-tablet.css">
    <link rel="stylesheet" href="/css/home-desktop.css">
</head>

<body>
    <header class="bg-yellow p">
        <section class="top-nav">
            <h1 class="w-50">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre">
                </a>
            </h1>
            <div class="search-bar w-50">
                <input type="text">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <p class="text-center pv">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </section>
        <nav class="navbar">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu bg-blue">
            <i class="fas fa-bars text-light"></i>
        </div>
    </header>
    <section>
        <img src="/images/img-home-banner.jpg" class="w-100" alt="">
    </section>
    <main class="container">
        <section class="pv">
            <h2 class="font-heading">Basado en tu última visita</h2>
            <section class="article-container">
                <div class="product-wrapper">
                    <article class="product">
                        <img src="/images/img-cafetera-moulinex.jpg" class="w-100" alt="" margin-bot>
                        <div class="product-content">
                            <i class="fas fa-truck truck-icon text-green b border-green font-medium p"></i>
                            <div class="product-prices">
                                <p class="price font-medium">$ 6.770</p>
                                <p class="discount text-green font-medium">40% OFF</p>
                            </div>
                            <h3 class="description font-large">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="product">
                        <img src="/images/img-cafetera-moulinex.jpg" class="w-100" alt="" margin-bot>
                        <div class="product-content">
                            <i class="fas fa-truck truck-icon text-green b border-green font-medium p"></i>
                            <div class="product-prices">
                                <p class="price font-medium">$ 6.770</p>
                                <p class="discount text-green font-medium">40% OFF</p>
                            </div>
                            <h3 class="description font-large">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="product">
                        <img src="/images/img-cafetera-moulinex.jpg" class="w-100" alt="" margin-bot>
                        <div class="product-content">
                            <i class="fas fa-truck truck-icon text-green b border-green font-medium p"></i>
                            <div class="product-prices">
                                <p class="price font-medium">$ 6.770</p>
                                <p class="discount text-green font-medium">40% OFF</p>
                            </div>
                            <h3 class="description font-large">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="product">
                        <img src="/images/img-cafetera-moulinex.jpg" class="w-100" alt="" margin-bot>
                        <div class="product-content">
                            <i class="fas fa-truck truck-icon text-green b border-green font-medium p"></i>
                            <div class="product-prices">
                                <p class="price font-medium">$ 6.770</p>
                                <p class="discount text-green font-medium">40% OFF</p>
                            </div>
                            <h3 class="description font-large">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="product">
                        <img src="/images/img-cafetera-moulinex.jpg" class="w-100" alt="" margin-bot>
                        <div class="product-content">
                            <i class="fas fa-truck truck-icon text-green b border-green font-medium p"></i>
                            <div class="product-prices">
                                <p class="price font-medium">$ 6.770</p>
                                <p class="discount text-green font-medium">40% OFF</p>
                            </div>
                            <h3 class="description font-large">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>
            </section>
        </section>
        <section>
            <h2 class="font-heading">Seccion de ofertas</h2>
            <section class="article-container">
                <div class="product-wrapper">
                    <article class="product">
                        <img src="/images/img-cafetera-moulinex.jpg" class="w-100" alt="" margin-bot>
                        <div class="product-content">
                            <i class="fas fa-truck truck-icon text-green b border-green font-medium p"></i>
                            <div class="product-prices">
                                <p class="price font-medium">$ 6.770</p>
                                <p class="discount text-green font-medium">40% OFF</p>
                            </div>
                            <h3 class="description font-large">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="product">
                        <img src="/images/img-cafetera-moulinex.jpg" class="w-100" alt="" margin-bot>
                        <div class="product-content">
                            <i class="fas fa-truck truck-icon text-green b border-green font-medium p"></i>
                            <div class="product-prices">
                                <p class="price font-medium">$ 6.770</p>
                                <p class="discount text-green font-medium">40% OFF</p>
                            </div>
                            <h3 class="description font-large">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="product">
                        <img src="/images/img-cafetera-moulinex.jpg" class="w-100" alt="" margin-bot>
                        <div class="product-content">
                            <i class="fas fa-truck truck-icon text-green b border-green font-medium p"></i>
                            <div class="product-prices">
                                <p class="price font-medium">$ 6.770</p>
                                <p class="discount text-green font-medium">40% OFF</p>
                            </div>
                            <h3 class="description font-large">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="product">
                        <img src="/images/img-cafetera-moulinex.jpg" class="w-100" alt="" margin-bot>
                        <div class="product-content">
                            <i class="fas fa-truck truck-icon text-green b border-green font-medium p"></i>
                            <div class="product-prices">
                                <p class="price font-medium">$ 6.770</p>
                                <p class="discount text-green font-medium">40% OFF</p>
                            </div>
                            <h3 class="description font-large">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>
                <div class="product-wrapper">
                    <article class="product">
                        <img src="/images/img-cafetera-moulinex.jpg" class="w-100" alt="" margin-bot>
                        <div class="product-content">
                            <i class="fas fa-truck truck-icon text-green b border-green font-medium p"></i>
                            <div class="product-prices">
                                <p class="price font-medium">$ 6.770</p>
                                <p class="discount text-green font-medium">40% OFF</p>
                            </div>
                            <h3 class="description font-large">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>
            </section>
        </section>
    </main>
    <footer>
    </footer>
</body>

</html>